<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Zadaci</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="minmax">
                <span class="oi oi-plus" aria-hidden="true"></span> N(N-1)/2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doublefactoriel">
                <span class="oi oi-plus" aria-hidden="true"></span> DoubleFactoriel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arrayiteration">
                <span class="oi oi-plus" aria-hidden="true"></span> ArrayIteration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="findvalues">
                <span class="oi oi-plus" aria-hidden="true"></span> FindValues
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
